<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<context-param>
		<param-name>salesforce.username</param-name>
		<param-value>andrew.fawcett@7coda.com</param-value>
	</context-param>	
	<context-param>
		<param-name>salesforce.password</param-name>
		<param-value>wavetastic2KIcxFA37yOI0qf4zFTxwpygk</param-value>
	</context-param>
	<servlet>
		<servlet-name>ForceAutomoton</servlet-name>
		<servlet-class>com.coda.forceautomaton.ForceAutomatonServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForceAutomoton</servlet-name>
		<url-pattern>/_wave/robot/jsonrpc</url-pattern>
	</servlet-mapping>
		<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
